/* Navbar */
.navbar{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
} 
.navbar-brand{
    font-size: 24px;
}
.nav-link{
    font-size: 12px;
}

/* Page 1 */
.latar{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    font-family: Arial;
}
.page1 img{
    width: 20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1{
    background-image: url(/assets/main-bg.jpg);
}
.page2{
    background-image: url(/assets/the-games-bg.jpg);
}
.page3{
    background-image: url(/assets/features.jpg);
}
.page4{
    background-image: url(/assets/requirements.png);
}
.page5{
    background-image: url(/assets/bg\ image\ 3.jpg);
}
.page6{
    background-color: #080A0B;
}

.page1 .teks1{
    font-size: 36px;
    font-weight: 700px;
    margin-top: 80px;
}
.page1 .teks2{
    font-weight: 400px;
    font-size: 18px;
}
.bottom{
    position:relative ;
    margin-top: 180px;
}

/* Page 2 */
.page2 h4{
    margin-top: 150px;
}
.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-radius: 100%;
}


/* Page 3 */
.page3 h4{
    margin-top: 20vh;
    font-size: 24px;
    line-height: 28px;
}
.page3 h2{
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 3px;
}
.page3 .timeline-content h4{
    color: #FFB548;
    margin-top: 30px;
}
.page3 .timeline-content p{
    font-family: 'Open Sans', sans-serif;
    word-wrap: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
}

/* Page 4 */
.page4 h6{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
}

.page4 h1{
    font-size: 32px;
    letter-spacing: 3px;
}

.page4 .table h3{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;

}

.page4 .table p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 22px;
}

/* Page 5 */
.page5 h1{
    font-size: 14px;
    font-weight: bold;
}
.page5 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.page5 .btn{
    padding: 5px;
}

.page5 h3{
    font-family: Arial;
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FFB548;
}

.page5 h3 span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: white;
    opacity: 0.5;
}

.page5 h5{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.page5 h6{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.page5 .img{
    width: 30px;
    box-shadow: 5px 5px #FFB548;
}

.page5 .card{
    height: auto;
    border-radius: 10px;
}

.page5 .card-body{
    padding: 5px;
}

.page5 .width{
    width: 100%;
}

/* page 6 */
.page6 .img{
    display: none;
}
.page6 h5{
    font-size: 18px;
}

.page6 h1{
    font-size: 32px;
}

.page6 p{    
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.page6 .btn{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

/* Footer */

a{
    text-decoration: none;
    color: white;
}

.footer .list, .footer .social, .footer .policy, .footer .copyright{
    text-align: center;
}
.list a, .social a{
    margin-left: 10px;
}
.footer .policy a{
    margin-left: 10px;
    margin-right: 10px;
}
.footer a{
    font-size: 14px;
}



/* Dekstop Version */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link{
        text-transform: uppercase;
        color: white!important;
    }
    .nav-link{
        margin-right: 20px;
    }

    /* Page 1 */
    .page1 .teks1{
        font-size: 60px;
        font-weight: 700px;
        text-transform: uppercase;
    }
    .page1 .teks2{
        font-size: 24px;
    }

    /* Page 2 */
    .page2 h4, .page2 .carousel{
        margin-top: 150px;
    }
    .carousel-control-prev-icon{
        margin-left: -150px;
    }
    .carousel-control-next-icon{
        margin-right: -150px;
    }

    /* Page 3 */
    .page3 h4{
        font-size: 28px;
        line-height: 28px;
        margin-top: 150px;
    }
    .page3 h2{
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .page3 .timeline-content h4{
        color: #FFB548;
        margin-top: 30px;
    }
    .page3 .timeline-content p{
        width: 350px;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
    }

    /* Page 4 */
    .page4 .lebar, .page3 .lebar3{
        width: 50%;
    }
    .page4 h6{
        font-size: 14px;
    }
    .page4 h1{
        font-size: 56px;
        text-transform: uppercase;
    }
    .page4 .table h3{
        font-size: 24px;
    }
    .page4 .table p{
        font-size: 18px;
    }

    /* page 5 */
    .page5 h3{
        font-size: 20px;
    }
    .page5 h1{
        font-size: 48px;
    }
    .page5 p{
        font-size: 18px;
    }
    .page5 h3 span{
        font-size: 14px;
    }
    .page5 h5{
        font-size: 16px;
        line-height: 25px;
    }
    .page5 h6{
        font-size: 14px;
        line-height: 19px;
    }
    .page5 .img{
        width: 60px;
    }
    .page5 .card{
        width: 400px;
    }
    .page5 .card-body{
        padding: 6px 18px;
    }
    .page5 .margin{
        margin-top: auto;
        margin-bottom: auto;
    }
    .page5 .card1{
        float: right;
    }
    .page5 .card3{
        margin-left: auto;
        margin-right: auto;
    }
    .page5 .width{
        width: 200px;
    }

    /* page 6 */
    .page6 h5{
        font-size: 24px;
        width: 200px;
        line-height: 28px;
        letter-spacing: 2px;
    }
    .page6 h1{
        font-size: 65px;
        line-height: 75px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .page6 p{    
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
    }
    .page6 .img{
        display: block;
    }
    .page6 .btn{
        margin: 0;
        font-size: 14px;
        background: #FFB548;
    }
    .page6 input{
        background: rgba(255, 255, 255, 0.08);
        border: black;
        color: #FFB548;
    }

    .footer .list, .footer .social, .footer .policy{
        text-align: end;
    }
    .footer .copyright{
        text-align: start;
    }
    .list a, .social a{
        margin-left: 30px;
    }
    .footer .policy a{
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer a{
        font-size: 14px;
    }
}